/* General styling for the Portfolio Page */
.portfolio-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0;
    background-color: var(--feature-card-bg);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: calc(100vh - var(--navbar-height) - 0.75rem);
}
  
  /* Content layout: List on the left, Charts on the right */
  .portfolio-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
  }
  
  /* Portfolio List styling */
  .portfolio-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
  }


    /* Portfolio Actions (Buy/Sell Buttons) */
  .portfolio-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
   }

   .buy-button {
    padding: 0.75rem 1.5rem;
    background-color: #4caf50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .buy-button:hover {
    background-color: #45a049;
  }
  
  .sell-button {
    padding: 0.75rem 1.5rem;
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .sell-button:hover {
    background-color: #d32f2f;
  }

  .portfolio-list {
    flex: 1;
    min-width: 300px;
    background: var(--chart-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  /* Portfolio List Headers */
   .portfolio-headers {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--chart-bg-color);
    border-radius: 5px;
    font-weight: bold;
    padding-left: 16rem;
    margin-bottom: 1rem;
    color: #555;
    text-align: center;
  }

  .portfolio-headers span {
    flex: 1;
    text-align: center; 
  }
  
  .portfolio-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .portfolio-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    background-color: var(--marketcard-bg-color);
    color: var(--text-color);
  }
  
  
  .portfolio-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .portfolio-item span {
    flex: 1;
    text-align: center; 
    color: #555;
  }

  .crypto-image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 50%;
  }
  
  .crypto-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: auto;
  }
  
  .crypto-amount,
  .crypto-value,
  .crypto-profit {
    font-size: 0.9rem;
    margin: 0 0.5rem;
    color: #555;
    font-weight: bold;
  }

  .crypto-profit.positive {
    color: green;
    font-weight: bold;
  }
  
  .crypto-profit.negative {
    color: red;
    font-weight: bold;
  }

  /*portfolio total*/

  .portfolio-summary {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 1rem;
    background-color: var(--feature-card-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .total-assets,
  .total-profit-loss {
    text-align: center;
    flex: 1;
  }
  
  .total-assets h3,
  .total-profit-loss h3 {
    margin-bottom: 0.5rem;
  }
  
  .total-assets p,
  .total-profit-loss p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .total-profit-loss p.positive {
    color: green;
  }
  
  .total-profit-loss p.negative {
    color: red;
  }
  
  /* Portfolio Charts styling */
  .portfolio-charts {
    
    min-width: 400px;
    width: 40%;
    padding: 0;
    background: var(--chart-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .recharts-wrapper {
    margin-bottom: 2rem;
  }
  
  
  .portfolio-actions button:hover {
    background-color: #019aa8;
  }
  
  /* Modal styling */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--popup-bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .modal label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .fisrt-line{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1rem;
    
  }

  .fisrt-line label{
    width: 60%;
  }


  .fisrt-line select {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
  }


  .crypto-preview {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  
  .crypto-preview img {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    border-radius: 50%;
  }
  
  .crypto-preview span {
    font-size: 1rem;
    font-weight: bold;
  }
  
  
  .second-line {
    display: flex;
    gap:1rem;
  }

  
  .second-line  input {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    padding: 0.75rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  
  .modal button {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .modal button[type='submit'] {
    background-color: #00bcd4;
    color: white;
  }
  
  .modal button[type='submit']:hover {
    background-color: #019aa8;
  }
  
  .modal button[type='button'] {
    background-color: #f44336;
    color: white;
  }
  
  .modal button[type='button']:hover {
    background-color: #d32f2f;
  }
  
  
  
  