/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

#root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --navbar-height: 60px;
  --footer-height: 80px; 
}

/* Light/Dark Mode Support */
:root {
  --primary-color: #00bcd4;
  --background-color: #f9f9f9;
  --text-color: #333;
  --hero-primary-color: #00bcd4;
  --hero-secondary-color:#ddfaff;
  --hero-text-color: #fff;
  --hero-button-bg: #00bcd4;
  --hero-button-hover-bg: #009bb5;
  --button-text-color: #fff;
  --feature-bg: #ddfaff;
  --feature-card-bg: #ffffff;
  --feature-highlight-color: #00bcd4;

  --navbar-bg-color: #333;
  --navbar-text-color: #fff;
  --navbar-highlight-color: #00bcd4;
  --card-background-color: #fff;

  --footer-bg-color: #00bcd4;
  --footer-text-color: #333;
  --footer-link-color: #00bcd4;

  --login-bg-color: #f9f9f9;

  --chart-bg-color:#ffffff;
  --marketcard-bg-color:#ffffff;
  --popup-bg-color: #f0f0ef;
   
}

body.dark {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --hero-primary-color: #333;
  --hero-secondary-color: #555;
  --hero-text-color: #ddd;
  --hero-button-bg: #333;
  --hero-button-hover-bg: #444;
  --feature-bg: #555;
  --feature-card-bg: #222;
  --feature-highlight-color: #00bcd4;

  --navbar-bg-color: #121212;
  --navbar-text-color: #e0e0e0;
  --navbar-highlight-color: #00bcd4;
  --card-background-color: #1e1e1e;

  --footer-bg-color: #333;
  --footer-text-color: #e0e0e0;
  --footer-link-color: #00bcd4;

  --login-bg-color:#555;

  --chart-bg-color:#939090;
  --marketcard-bg-color:#c3c1c1;
  --popup-bg-color: #333;
}